table.table-info{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}
table.table-info tbody tr td{
    border: 1px solid #1f699e;
    text-align: center;
    font-size:14px;
}
table.table-info tbody tr td{
	vertical-align: middle;
	max-height: 25px;
}
table.table-info tbody tr td.td_title{
	font-size: 13px;
	font-weight: bold;
}
table.table-info tbody tr td.remark{
	padding: 0px;
	height: 180px;
}
table.table-info tbody tr td textarea{
	width: 100%;
	height: 100%;
	padding: 6px 12px;
	border: none;
	letter-spacing: 2px;
	line-height: 25px;
}
table#table tbody tr td a.btn_large{
	height: 25px;
	line-height: 22px;
	padding: 0px 5px;
}
.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner{
	padding: 5px;
}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td{
	padding: 5px;
}
form.form-horizontal textarea{
	width: 100%;
	height: 180px;
	border: 1px solid #1f699e;
	padding: 6px 12px;
	letter-spacing: 2px;
	line-height: 25px;
}
div.hz-col-1 div.buttons{
	height: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.btn-box1{
	float: left;
	padding-top: 10px;
	height: 0px;
}
div.btn-box1 a.hbtn{
	margin: 0px;
}
div.btn-box2 a.hbtn{
	margin: 0px;
}
#accordion .panel-heading .collapse-contact-a span.glyphicon{
	top: 2px;
}
#accordion .panel-heading .collapse-contact-a span.glyphicon-chevron-down:before{
	content: "\e113";
}
#accordion .panel-heading .collapsed span.glyphicon-chevron-down:before{
	content: "\e114";
}
.flatpickr-day{
	height: 25px;
	line-height: 25px;
}
.flatpickr-calendar{
	font-size: 80%;
}
div#wait_window{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4) !important;
	z-index: 999999999999999;
}
div#wait_window div.tip-tab {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
div#wait_window div.tip-tab div.tip-tab-cell {
	display: table-cell;
	vertical-align: middle;
}
div#wait_window div.tip-tab div.tip-tab-cell span {
	padding: 18px 40px;
	color: rgba(0, 0, 0, 0.9);
	font-size: 15px;
	background-color: #F2F2F2;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 3px rgba(57, 206, 204, 0.19);
}
.fixed-table-container thead th{
	border-left: none;
}
.pagination>li>a, .pagination>li>span{
	color: #a5cee2;
	border: 1px solid rgb(77, 133, 189);
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #1d3f5d;
}
iframe.frm-content{
	width: 100%;
	height: 100%;
	display: none;
	border: 0px none;
	overflow: visible;
}