<link rel="stylesheet" href="../../../../libs/bootstrap/css/bootstrap.min.css" charset="utf-8">
<link rel="stylesheet" href="../../../../css/comm_menus.css" charset="utf-8">
<style type="text/css">
	::-webkit-scrollbar{
	  display:none;
	}
	
	*{
		margin: 0px;
		padding: 0px;
	}
	
	div#planImp{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 4px;
	}
	
	.divLeft{
		width: 68%;
		height: 100%;
		float: left;
	}
	.divLeft .mapDiv{
		height:100%; overflow: scroll;
	}
	
	.divLeft .videoDiv{
		height:100%; overflow: scroll;
	}
	
	.divLeft .videoDiv .videoItem{
		width: 50%;
		height: 50%;
		float: left;
		background-color: black;
	}
	
	.divRight{
		width: 32%;
		height: 100%;
		float: left;
	}
	.panel{
		height: 50%;
		padding: 0px;
		margin: 0px;
		font-size: 16px;
	}
	.panel-body{
		height: 100%; 
		padding: 0px;
		overflow: scroll;
	}
	.tip{
		position: absolute;
		background-color: black;
		color:white;
		z-index:999;
		width: 68%;
		height:40px;;
		opacity:0.0;
	}
	.hiddenDiv{
		display: none;
	}
	
	.spanColor{
		color: #ffd343;
	}
	
	div.phoneBtn{
		width: 40px;  
		height: 25px; 
		background:url('img/dianhua2.png') no-repeat;  
	}
	
	div.phoneBtn:HOVER {
		background-image: url("img/dianhua1.png");
	}
</style>
<script type="text/javascript">
</script>
<div id="planImp">
	<div class="divLeft"  >
		
		<div class="win_top" id="win_top"  style="width: 67%; ">
			<ul id="menusTwo" class="menus2 clearfix">
				<li class="menus2_li" v-cloak v-for="M in menuListThree" id="{{M.id}}" @click="openMenu(M)" >{{M.name}}</li>
			</ul>
		</div>
		
		<div id="myTabContent" class="tab-content">
			<div class="mapDiv " id="mapDiv">
				<img id="mpImg" class="img-responsive" src="" >
			</div>
			<div class="videoDiv hiddenDiv" id="videoDiv">
				<div class="videoItem" v-for='v in videos'>
					<video id="video" name="videoEle" style="margin: 0px; padding: 0px;" width="100%" height="100%" loop="loop"  autoplay="autoplay">
						<source :src="v" type="video/ogg">
						<source :src="v" type="video/mp4">
						<source :src="v" type="video/webm">
					</video>
				</div>
			</div>
		</div>
	</div>

		<div class="divRight" >
			<div class="panel panel-primary" style="margin-bottom: 2px;">
				<div class="panel-heading">
					<h3 class="panel-title">
						应急事件发生单位：{{eventInfo.unitName}}
					</h3>
				</div>
				<div style="height:84%; overflow: scroll;">
					<div class="list-group-item" v-for="t in title">
						<span style="width: 150px; display: block; float: left;">{{t.titleName}}：</span><span class="spanColor">{{t.infoVal}}</span>
					</div>
				</div>
			</div>
		
			<div class="panel panel-primary" >
				<div class="panel-heading">
					<h3 class="panel-title">
						周边协助单位
					</h3>
				</div>
				<div style="height:85%; overflow: scroll;">
						<div class="list-group-item" v-for="n in nearbyUnit">
							<div class="list-group-item-heading">
								<span class="spanColor">{{n.id}}、{{n.name}}</span>
							</div>
							<div class="list-group-item-text">
								联系电话：{{n.phone}}
								<div class=" pull-right phoneBtn"></div>
							</div>
							
						</div>
				</div>
			</div>
			
		</div>
</div>
<script type="text/javascript" src="../../../../js/require.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript">
requirejs(['hz/demo/emergency/planperform/planImp']);
</script>