<link rel="stylesheet" href="../../../../libs/bootstrap/css/bootstrap.min.css" charset="utf-8">
<link rel="stylesheet" href="../../../../libs/bootstrap/css/bootstrap-table.css" charset="utf-8">
<link rel="stylesheet" href="../../../../css/common.css" charset="utf-8">
<link rel="stylesheet" href="../../../../css/imp/imp_common.css" charset="utf-8">
<style>
div.top{
	width: 100%;
	height: 30px;
	background-color: rgba(255, 255, 255, 1);
}
div.top div.left{
	width: 5%;
	height: 100%;
	float: left;
	background-image: url(../../../css/imp/timg_1_left2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
div.top div.left:hover{
	background-image: url(../../../css/imp/timg_1_left.png);
	cursor: pointer;
}
div.top div.right{
	width: 5%;
	height: 100%;
	float: right;
	background-image: url(../../../css/imp/timg_1_right2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
div.top div.right:hover{
	background-image: url(../../../css/imp/timg_1_right.png);
	cursor: pointer;
}
div.top div.tabMenus{
	width: 90%;
	height: 100%;
	float: left;
	overflow: hidden;
}
div.top div.tabMenus div.tabBox{
	width: auto;
	height: 100%;
}
div.top div.tabMenus div.tabBox div.menu{
	width: 120px;
	height: 100%;
	float: left;
	color: #000;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
div.top div.tabMenus div.tabBox div.menu:hover{
	color: #fff;
	background-color: rgba(31, 85, 111, 0.64);
}
div.top div.tabMenus div.tabBox div.selected{
	color: #fff;
	background-color: rgba(0, 92, 136, 1);
}
div.hbox{
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	box-orient:vertical;
	overflow: auto;
	background-color: rgba(31, 85, 111, 0.64);
}
div.hbox table.hz-col-1{
	width: 100%;
	margin: 0px auto;
}
div.hbox table.hz-col-1 tbody tr td{
	padding: 20px;
	border: none;
}
div.hbox table.hz-col-1 tbody tr td.td_title{
	padding: 20px 10px;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}
div.hbox table#baseInfo tbody tr td{
    border: 1px solid #1f699e;
    text-align: center;
    font-size:14px;
}
div.hbox table#baseInfo tbody tr td.remark{
	padding: 0px;
	height: 100px;
}
div.hbox table#baseInfo tbody tr td.remark textarea{
	width: 100%;
	height: 100%;
	text-indent: 5px;
	line-height: 20px;
	letter-spacing: 2px;
}
div.hbox div#detailDiv{
	width: 100%;
	height: 600px;
	display: none;
}
</style>
<div class="vbox box-con" id="prisonDtls">
	<div class="top">
		<div class="left" @click="menuMove(-1)"></div>
		<div class="tabMenus">
			<div class="tabBox">
				<div class="menu selected" id="menu_0" @click="openMenu(0)">基本信息</div>
				<div class="menu" id="menu_{{item.key}}" @click="openMenu(item.key)" v-cloak v-if="prisonerItem.length>0 && item.objcount>0" v-for="item in prisonerItem">{{item.name}}({{item.objcount}})</div>
			</div>
		</div>
		<div class="right" @click="menuMove(1)"></div>
	</div>
	<div class="hbox hz-col-1">
		<table class="hz-col-1">
			<tr>
				<td class="td_title">所属监狱：</td>
				<td v-text="prisoner.bs"></td>
				<td class="td_title">罪犯名称：</td>
				<td v-text="prisoner.pr_name"></td>
				<td class="td_title">性别：</td>
				<td v-text="prisoner.pr_gender"></td>
				<td rowspan="3"><img src="../img/3302013155.png" style="width: 120px;height: 150px;"></td>
			</tr>
			<tr>
				<td class="td_title">所属监区：</td>
				<td v-text="prisoner.pr_area"></td>
				<td class="td_title">入监日期：</td>
				<td v-text="prisoner.pr_arrival_day"></td>
				<td class="td_title">所有罪名：</td>
				<td v-text="prisoner.pr_samecharge"></td>
			</tr>
			<tr>
				<td class="td_title">刑期：</td>
				<td v-text="prisoner.pr_term"></td>
				<td class="td_title">刑期开始：</td>
				<td v-text="prisoner.pr_termbegin"></td>
				<td class="td_title">刑期结束：</td>
				<td v-text="prisoner.pr_termend"></td>
			</tr>
		</table>
		<table class="hz-col-1" id="baseInfo">
			<tr>
				<td class="td_title">民族</td>
				<td v-text="prisoner.pr_nationality"></td>
				<td class="td_title">出生日期</td>
				<td v-text="prisoner.pr_birthday"></td>
				<td class="td_title">身份证号</td>
				<td v-text="prisoner.sfzh"></td>
			</tr>
			<tr>
				<td class="td_title">文化程度</td>
				<td v-text="prisoner.pr_education"></td>
				<td class="td_title">职业</td>
				<td v-text="prisoner.pr_jobcareer"></td>
				<td class="td_title">监管等级</td>
				<td v-text="prisoner.pr_level"></td>
			</tr>
<!-- 			<tr> -->
<!-- 				<td class="td_title">犯罪事实</td> -->
<!-- 				<td colspan="5" class="remark"> -->
<!-- 					<textarea>{{prisoner.pr_cause}}</textarea> -->
<!-- 				</td> -->
<!-- 			</tr> -->
			<tr>
				<td class="td_title">户口分类</td>
				<td v-text="prisoner.hkfl"></td>
				<td class="td_title">政治面貌</td>
				<td v-text="prisoner.bqmm"></td>
				<td class="td_title">婚姻状况</td>
				<td v-text="prisoner.hy"></td>
			</tr>
			<tr>
				<td class="td_title">户籍</td>
				<td v-text="prisoner.pr_regaddress"></td>
				<td class="td_title">户籍详细</td>
				<td colspan="3" v-text="prisoner.pr_regaddress"></td>
			</tr>
			<tr>
				<td class="td_title">团伙犯案</td>
				<td v-text="prisoner.pr_multicrime"></td>
				<td class="td_title">逮捕日期</td>
				<td v-text="prisoner.dbrq"></td>
				<td class="td_title">逮捕机关</td>
				<td v-text="prisoner.dbjg"></td>
			</tr>
			<tr>
				<td class="td_title">团伙人数</td>
				<td v-text="prisoner.thrs"> </td>
				<td class="td_title">同案号</td>
				<td colspan="3" v-text="prisoner.tah"></td>
			</tr>
			<tr>
				<td class="td_title">一审字号</td>
				<td v-text="prisoner.yszh"></td>
				<td class="td_title">一审机关</td>
				<td colspan="3" v-text="prisoner.ysjg"></td>
			<tr>
			<tr>
				<td class="td_title">案犯类别</td>
				<td v-text="prisoner.xaflb"></td>
				<td class="td_title">分押类型</td>
				<td v-text="prisoner.fylx"></td>
				<td class="td_title">常押新收</td>
				<td v-text="prisoner.cyxs"></td>
			</tr>
			<tr>
				<td class="td_title">剥夺年限</td>
				<td v-text="prisoner.bznx"></td>
				<td class="td_title">罚金</td>
				<td v-text="prisoner.fj"></td>
				<td class="td_title">减刑尺度</td>
				<td v-text="prisoner.jxcd"></td>
			</tr>
			<tr>
				<td class="td_title">起诉字号</td>
				<td v-text="prisoner.qszh"></td>
				<td class="td_title">起诉机关</td>
				<td colspan="3" v-text="prisoner.qsjg"></td>
			</tr>
			<tr>
				<td class="td_title">终审情况</td>
				<td v-text="prisoner.zsqk"></td>
				<td class="td_title">终审字号</td>
				<td v-text="prisoner.zszh"></td>
				<td class="td_title">终审机关</td>
				<td v-text="prisoner.zsjg"></td>
			</tr>
		</table>
		<div class="vbox hz-col-1" id="detailDiv"></div>
	</div>
</div>
<script type="text/javascript" src="../../../../js/require.js"></script>
<script type="text/javascript" src="../../../../js/config.js"></script>
<script type="text/javascript">
requirejs(['hz/demo/infoMsg/prisoner/prisonDtls']);
</script>